<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение команды {{ team_name }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/static/edit_team.css">
    <script src="/static/edit_team.js"></script>
</head>
<body>
<div class="container">
    <div class="sub-container">
        <div id="error" class="hidden">Error </div>
        <label for="team_name" class="title">Название команды</label>
        <input id="team_name" value="{{ team_name }}">
        <label for="team_list" class="title">Список команды</label>
        <textarea id="team_list">{{ team_list }}</textarea>
        <button class="btn">Изменить команду</button>
    </div>
</div>
</body>
</html>